.header{
    display: flex;
    margin: 0px;
    background-color: rgba(177, 0, 0, 0.929);
    height: 80px;
}

.header .left {
    width: 25%;
    height: 80px;
}

.text {
    margin: auto;
    margin-top: 5px;   
}

.header .right {
    width: 75%;
}

.info {
    margin-left: 900px;
    margin-top: 30px;
    width: 40%;
    font-size: 18px;
    text-align: center;
}
 
a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

h2 {
    text-align: center;
    margin-left: 25px;
    position: absolute;
    color: white;

}

.bd {
    display: flex;
    margin-top: 10px;
    height: 500px;
    padding: 10px;
    background-color: rgba(72, 242, 254, 0.678);
}

.photo {
    width: 50%;
    
}

.picture {
    padding-top: 15px;
    padding-left: 10px;
    max-width: 100%;
    max-height: 100%;
}

.des {
    margin-left: 50px;
    width: 60%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}