* {
    margin: 0;
}
.shapka {
    display: flex;
    background-color: rgba(0, 70, 132, 0.857);
    min-height: 50px;
    /*justify-content: center;*/
    align-items: center;
}
.brand {
    color: white;
    font-family: Arial;
    font-size: 23px;
    padding-left: 200px; /*change*/
}
.poisk {
    padding-left: 150px; /*change*/
    font-size: 23px;
}
.poisk input {
    border: none;
    border-radius: 15px;
    min-height: 23px;
}
.finder {
    background-color: #314c69;
}
.main {
    min-height: 1300px;
    display: flex;
    justify-content: center;
    background-color: #e3e2e2;

}
.main div {
    /*border: 1px solid black;*/
    /*margin: 10px 5px;*/
}

.left-side {
    /*background-color: red;*/
    height: inherit;
    width: 200px;
    margin: 20px 5px;
}
.my-page {
    /*background-color: blue;*/
    height: inherit;
    width: 300px;
    margin: 20px 5px;
}
.right-side {
    /*background-color: green;*/
    height: inherit;
    width: 600px;
    margin: 20px 5px;
}

.links {
    display: flex;
    flex-direction: column;
}
.links a {
    font-family: Arial;
    text-decoration: none;
    color: rgb(9, 7, 87);
    font-size: 18px;
    padding: 10px;
}

.card_ava {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    justify-content: space-around;
}

.lampard {
    height: 300px;
    width: 260px;
    margin: 10px;
    margin-top: 20px;

}
.lampard img {
    height: 100%;
    width: 100%;

}

.edit-button {
    margin: 10px 10px;
    width: 260px;
    height: 30px;


}
.edit-button button {
    border: 1px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-family: Arial;
    color: #6f7177;
}
.edit-button a {
    text-decoration: none;
    color: #6f7177;
}

.friends {
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    /*height: 200px;*/
    padding: 10px;
}

.friends p {
    font-family: Arial;
    color: #6f7177;
}

.fr_blocks {
    margin-top: 15px;
    margin-left: 10px;
    height: 70px;
    width: 260px;
    display: flex;
    margin-bottom: 10px;

}

.one_block {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fr_img {
    border-radius: 50%;
    width: 60%;
}
.fr_img img {
    width: 100%;
}

.info_card {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.info1 {
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    /*color: #6f7177;*/
    padding: 30px 20px;
}

.ilyas h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.line {
    border: 0.1px inset lightgray;
    margin: 0px 20px;
    /*color: #6f7177;*/
}
.info2 {
    display: flex;
    padding: 20px;
}
.info2 p {
    margin-bottom: 10px;
    color: #6f7177;
}
.info2-left {
    width: 40%;
}
.info2-right {
    width: 60%;
}
.info2-right a {
    text-decoration: none;
    color: #6f7177;
}

.info3 {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;

}
.info3_block {
    width: 16%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6f7177;
    font-size: 14px;
}


.sandar {
    color: darkblue;
    font-size: 20px;
}

.my_photos {
    padding: 20px;
    color: #6f7177;
    background-color: white;
    border-radius: 5px;

}
.my_photos p {
    margin-bottom: 20px;
}

.photo_blocks {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.onephoto {
    width: 23%;
}

.onephoto img {
    width: 100%;
    height: 100%;
}

.content {
    background-color: white;
    padding: 20px;
    /*display: flex;*/
    margin-top: 20px;
    border-radius: 5px;
}

.content_head {
    display: flex;
}

.content_head_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.content_head_img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.content_head_text {
    margin-left: 20px;
    width: 100%;
}

.content_head_text h3 {
    /*font-weight: normal;*/
    color: darkblue;
}
.content_head_text p {
    color: #6f7177;
    font-size: 13px;
    margin-top: 7px;
}

.content_info {
    margin-top: 20px;
}

.main_friends {
    width: 600px;
    margin: 20px 10px;
    background-color: white;
    border-radius: 5px;
}

.right-side_friends {
    width: 300px;
    margin: 20px 10px;
}

.main_fr_head {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main_fr_head1 {
    display: flex;
}
.main_fr_head1 p {
    margin: 5px 10px;
    font-family: Arial;
}

.main_fr_head2 {
    display: flex;
    margin-right: 10px;
    width: 20%;
}

.main_fr_head2 button {
    width: 100%;
    height: 35px;
    text-decoration: none;
    background-color: #4C75A3;
    border-radius: 5px;
    border: none;
}
.main_fr_head2 a {
    text-decoration: none;
    color: white;
}

.main_fr_head2 button:hover {
    /* background-color: #365575; */
}

.line2 {
    border: 0.2px solid lightgray;
}
.main_fr_input {
    padding: 5px 10px;
}

.main_fr_input input{
    width: 99%;
    border: none;
    height: 25px;
}

.one_friend {
    display: flex;
    padding: 10px;
    height: 95px;
}

.one_fr_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.one_fr_img img {
    width: 100%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.one_fr_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    width: 80%;
}

.one_fr_text a {
    text-decoration: none;
    color: #6195d2;
}
.one_fr_text a:hover {
    color: #2b4460;
    text-decoration: underline;
}
.fr_name1 {
    color: #314c69;
    font-weight: bold;
    font-size: 20px;
}
.fr_uni {
    color: #6f7177;

}
.one_fr_point {
    margin-left: 10px;
}
.one_fr_point a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


.right-side_knopki {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.friends_option {
    height: 40px;
    display: flex;
    align-items: center;
    padding:  5px 10px;
}

.friends_option:hover {
    color: black;
    font-weight: bold;
}

.right-side_knopki a {
    text-decoration: none;
    color: #2b4460;
}

/*possible friendss*/

.possible_friends {
    background-color: white;
    border-radius: 5px;
}

.possible_fr_head {
    padding: 20px 10px;
    color: #2b4460;
}

.possible_fr_main {
    padding: 10px;
}
.one_possible_fr {
    display: flex;
    margin-bottom: 20px;
}

.possible_fr_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.possible_fr_img img {
    height: 100%;
    border-radius: 100%;
}

.possible_fr_text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1 {
    color: #2b4460;
    font-weight: bold;
}
.p2 {
    font-size: 14px;
    color: #6f7177;
}
.p3 {
    font-size: 12px;
    color: #6f7177;
    text-decoration: none;
}
.p3:hover {
    text-decoration: underline;
}






















